.WeatherForecast {
  text-align: center;
  border: 2px solid white;
  border-radius: 8px;
  margin-top: 20px;
  padding: 8px;
}

.WeatherForecast-day {
  font-size: 18px;
  opacity: 0.8;
  font-weight: bold;
}

.WeatherForecast-tempMax {
  font-weight: bold;
}

.WeatherForecast-tempMin {
  opacity: 0.6;
  margin-left: 5px;
}
