.WeatherForecast-day {
  font-size: 18px;
  opacity: 0.8;
  font-weight: bold;
}

.WeatherForecast-tempMax {
  font-weight: bold;
  font-size: 18px;
}

.WeatherForecast-tempMin {
  opacity: 0.6;
  font-weight: bold;
  margin-left: 5px;
}
